body {
    font-family: 'Poppins', sans-serif;
    color: rgb(49, 49, 49);
    margin: 0;
    padding: 0;
}

/* ----------------------
        1st section  
---------------------- */

.container {
    height: 600px;
    margin-bottom: 200px;
}

.top-banner {
    background-color: #2D25A0;
    display: flex;
}

.half-width {
    width: 50%;
    margin: 120px;
}

.half-width img {
    width: 100%;
}

h1 {
    color: white;
    font-size: 64px;
    line-height: 80px;
}

button {
    padding: 20px 80px;
    background-color: #E02C6D;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}


/* ---------------------------------
        transition + transform 
------------------------------------ */

.half-width img {
    transition: width 2s, height 2s, transform 2s;
}

.half-width img:hover {
    transform: rotate(360deg);
}

h1:hover {
    color: orange;
    transition: width 2s, height 2s, transform 2s;
}

button:hover {
    background-color: orange;
    transition: width 2s, height 2s, transform 2s;
}

/* ----------------------
        2nd section  
---------------------- */

.grid-container {
    margin-top: 100px;
    
}

.players {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    justify-content: center;
    margin: 0% 20%;

    /* display: flex;
    justify-content: center; */
}


.box {
    width: 330px;
    height: 474px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin: 30px;
}

.player img {
    width: 100%;
}

h2 {
    font-size: 28px;
}

p {
    line-height: 26px;
    margin-top: -15px;
}

/* ----------------------
    Bonus 1st section  
---------------------- */

.sports-calendar {
    margin: 100px;
    margin-bottom: 150px;
}

.calender {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    height: 500px;
    margin: 0% 25% 100px 25%;
}

.day {
    background-color: rgb(255, 220, 123);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 3px 3px gray;
}


.date {
    border: 1px solid rgb(136, 136, 136);
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 3px 3px gray;
}

.other-month {
    background-color: rgba(238, 238, 238, 0.582);
}

.khelar-din {
    background-color: rgb(255, 72, 0);
    color: white;
}

/* ----------------------
    Bonus 2nd section  
---------------------- */
.trophy-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.bs-pic {
    display: flex;
    justify-content: space-between;
    margin: 20px 80px;
    margin-bottom: 100px;
}

.bs-pic img {
    width: 70%;
}



/* ----------------------
        footer  
---------------------- */

footer div {
    margin-bottom: 40px;
}

.icon {
    color: #313131;
    font-size: 25px;
    border-radius: 32px;
    padding: 10px;
    align-content: center;
    background-color: #dbdbdb;
    margin-left: 20px;
}

footer img {
    width: 483.87px;
    height: 110px;
}

.footer-img {
    margin-left: 33%;
}

.footer-info {
    margin-left: 40%;
}

.Copyright {
    margin-left: 42.5%;
}

/* ----------------------
        media queries 
---------------------- */

/* Mobile Devices */

@media only screen and (max-width:688px) {
    .container {
        height: 1000px;
        margin-top: -120px;
    }

    .top-banner {
        background-color: rgb(170, 0, 85);
        display: block;
        padding-top: 50px;
    }

    .half-width img {
        width: 200%;
        margin-left: -60px;
    }

    .players {
        display: block;
        margin-top: 350px;
    }

    .calender {
        margin: 0% 25% 100px 12%;
    }

    .footer-img {
        margin-left: 10%;
    }

    .footer-info {
        margin-left: 30%;
    }

    .Copyright {
        margin-left: 35%;
    }

}